<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="Waits">
		<classes>
			<class name="seleniumPrograms.Waits">
				<methods>
					<include name="implicitWaitExcercise" />
					<exclude name="ExplicitWaitExcercise" />
					<exclude name="FluentWaitExcercise" />
				</methods>
			</class>
			
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
